/*
Theme Name: 3 Col Portfolio Theme
Author: Your Name
Description: IM4420 Theme
Version: 0.0.1
Tags: portfolio
*/

/*
 * Globals
 */

html {
  height:100%;
  overflow-y: scroll;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  background: #fafaf9;
  height:100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;

  }
}

#main-content {
  padding-bottom: 44px;
}

#wrapper {
    position: relative;
    min-height:100%;
}

.size-to-fit {
  width: 100%;
  height: auto; 
}

.circle-image {
  border-radius: 150px;
}

/* Sidebar */
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

/*
 * Footer
 * https://stackoverflow.com/questions/21206058/place-footer-at-bottom-only-if-page-is-short
 */

.blog-footer {
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0px;
  color: #fff;
  text-align: center;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}